<h1>Coach Answer's </h1>
<p> you: 
  <strong><%= @question %></strong>
</p>
<p> your coach: 
  <strong><%= @answer %></strong>
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%= link_to "HOME", "/" %> <%= link_to "ASK", "ask" %>
