<%# <h1>Preguntale al Couch lo que quieras! </h1> %>
<h1>Ask the coach whatever you want !!! </h1>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="write here your question">
  <input type="submit" value="Ask!">
</form>
<%# GET /contact?name="question" %>
<br>
<br>
<br>
<br>
<br>
<%= link_to "HOME", "/" %>
<br>
