<h1>Tulio, estamos al aire! </h1>
<img src="app/views/questions/alaire.png" alt="link broken">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>
  <%= link_to "want to ask something to the coach?", "/ask" %>
</h1>
